.compact-form {
    transform: scale(0.875);
    transform-origin: left;
}
.sub-add-component {
    background-color: rgb(205, 224, 243) !important;
  }
.text-supplerlarge{
    font-size: 5rem;
}
table.v-table tbody td, table.v-table tbody th {
    max-height: 19px;
    white-space: nowrap;
}
.v-select.v-select--chips .v-select__selections{
    flex-wrap: nowrap;
    overflow: hidden;
}