<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div style="width: 100%; height:100%;background-color:#50C0C0;padding:30px 20px;">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/43094bff7d.js"></script>
        <div style="font-family: 'Roboto', sans-serif;
    width: 60%;
    margin: 0 auto;
    height: auto;
    background-color: #FFF;
    padding: 0 0 10px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14);
    overflow: hidden;">
            <h3 style="color: #50C0C0;
        text-transform: uppercase;
        margin: 0;
        padding: 20px;
        text-align: center;">Thank you for choosing DaiMinh Travel</h3>
            <div style="margin: 40px 30px;">
                <div style=" display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            border-bottom: 1px solid #dee2e6;
            padding: 10px; color: #7B6972;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #7B6972;">
                    <div style=" flex-shrink: 1;
                flex-grow: 1;
                padding: 0 8px;text-align: left;">
                        Order #: <a href="#"> FLC05392029404 </a>
                    </div>
                    <div style=" flex-shrink: 1;
                flex-grow: 1;
                padding: 0 8px;text-align: right;">
                        Order Date: 10/06/2019
                    </div>
                </div>
            </div>
            <div style="margin: 10px 30px;">
                <div style="margin: 40px 30px;">
                    <p style=" font-size: 12px;
                line-height: 1.7em;">Dear Mr. James Anderson,</p>
                    <p style=" font-size: 12px;
                line-height: 1.7em;">Thank you very much for your Request: Code:……</p>
                    <p style=" font-size: 12px;
                line-height: 1.7em;">Dai Minh Travel proud to assist you through your upcoming journey as per your
                        request details:</p>
                </div>
                <div style="margin: 40px 30px;">
                    <h5 style="
                    background-color: #50C0C0;
                    padding: 10px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    height: 30px;
                    box-sizing: border-box;
                    border: 1px solid #50C0C0;
                    font-size: 1rem;
                    color: #FFF;margin:0">Request Infomation</h5>
                    <div style="
                border: 1px solid #dee2e6;
                border-radius: 4px;
                font-size: 12px;position: relative;">
                        <div style=" display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-content: center;
                    border-bottom: 1px solid #dee2e6;
                    padding: 10px;">
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px;width: 25.5%;
            font-weight: bold;
            border-right: 1px dashed #dee2e6;">HOTEL/LOCATION :</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px; width: 34%;border-right: 1px solid #50C0C0;">FLC Luxury Ha Long Bay</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px;width: 25.5%;
            font-weight: bold;
            border-right: 1px dashed #dee2e6;">ROOM TYPE :</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px; width: 34%;">FLC Luxury Ha Long Bay</div>
                        </div>
                        <div style=" display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-content: center;
                    border-bottom: 1px solid #dee2e6;
                    padding: 10px;">
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px;width: 25.5%;
            font-weight: bold;
            border-right: 1px dashed #dee2e6;">SERVICE PACKAGE :</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px; width: 34%;border-right: 1px solid #50C0C0;">FLC Luxury Ha Long Bay</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px;width: 25.5%;
            font-weight: bold;
            border-right: 1px dashed #dee2e6;">STAY :</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px; width: 34%;">FLC Luxury Ha Long Bay</div>

                        </div>
                        <div style=" display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-content: center;
                    border-bottom: 1px solid #dee2e6;
                    padding: 10px;">
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px;width: 25.5%;
            font-weight: bold;
            border-right: 1px dashed #dee2e6;">NUMBER OF GUESTS :</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px; width: 34%;border-right: 1px solid #50C0C0;">FLC Luxury Ha Long Bay FLC Luxury
                                Ha Long Bay FLC Luxury Ha
                                Long Bay</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px;width: 25.5%;
            font-weight: bold;
            border-right: 1px dashed #dee2e6;">NUMBER OF ROOM</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px; width: 34%;">FLC Luxury Ha Long Bay</div>

                        </div>
                        <div style=" display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-content: center;
                    border-bottom: 1px solid #dee2e6;
                    padding: 10px;">
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px;width: 25.5%;
            font-weight: bold;
            border-right: 1px dashed #dee2e6;">ADDITION DETAILS :</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px; width: 34%;border-right: 1px solid #50C0C0;">FLC Luxury Ha Long Bay</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px;width: 25.5%;
            font-weight: bold;
            border-right: 1px dashed #dee2e6;">TOTAL :</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px; width: 34%;">2.600.000</div>

                        </div>
                    </div>
                </div>

                <div style="margin: 40px 30px;">
                    <h5 style="
                    background-color: #50C0C0;
                    padding: 10px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    height: 30px;
                    box-sizing: border-box;
                    border: 1px solid #50C0C0;
                    font-size: 1rem;
                    color: #FFF;margin:0">Customer information</h5>
                    <div style="
                border: 1px solid #dee2e6;
                border-radius: 4px;
                font-size: 12px;position: relative;">
                        <div style=" display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-content: center;
                    border-bottom: 1px solid #dee2e6;
                    padding: 10px;">
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px;width: 25.5%;
            font-weight: bold;
            border-right: 1px dashed #dee2e6;">Fullname :</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px; width: 34%;border-right: 1px solid #50C0C0;">Bui Van Khoat</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px;width: 25.5%;
            font-weight: bold;
            border-right: 1px dashed #dee2e6;">Email :</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px; width: 34%;">khoatbui.dev@gmail.com</div>
                        </div>
                        <div style=" display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-content: center;
                    border-bottom: 1px solid #dee2e6;
                    padding: 10px;">
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px;width: 25.5%;
            font-weight: bold;
            border-right: 1px dashed #dee2e6;">Telephone :</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px; width: 34%;border-right: 1px solid #50C0C0;">0936376420</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px;width: 25.5%;
            font-weight: bold;
            border-right: 1px dashed #dee2e6;">Option :</div>
                            <div style=" flex-shrink: 1;
                        flex-grow: 1;
                        padding: 0 8px; width: 34%;">Please call me</div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin: 40px 30px;border-top: 1px solid #7B6972;">
                <div style=" display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            border-bottom: 1px solid #dee2e6;
            padding: 10px;">
                    <div style=" flex-shrink: 1;
                flex-grow: 1;
                padding: 0 8px;">
                        <h5>Please be noticed that:</h5>
                        <ul>
                            <li style=" font-size: 12px;
                        line-height: 1.7em;">Following the Laws of Vietnam, all products have to be tagged in VND –
                                Vietnam Dong. To
                                Check
                                the PRICE on your currency please clink here <a style="
                            background-color: #5d4a8e;
                            color: #FFF;
                            padding: 2px 4px;
                            border-radius: 4px;
                            margin: 4px;
                            box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14);
                            text-decoration: none;"
                                    href="https://www.vietcombank.com.vn/ExchangeRates/Converter.aspx?lang=en"
                                    target="_blank">USD CONVERT
                                    TO VND</a></li>
                            <li style=" font-size: 12px;
                        line-height: 1.7em;">Within the next 1 hours, there will be One email sent from Dai Minh Travel
                                to guide you on
                                the
                                Reconfirmation and Payment to Complete your Request.</li>
                            <li style=" font-size: 12px;
                        line-height: 1.7em;">Please spend sometimes to review our <a style="
                            background-color: #5d4a8e;
                            color: #FFF;
                            padding: 2px 4px;
                            border-radius: 4px;
                            margin: 4px;
                            box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14);
                            text-decoration: none;" href="http://daiminh.dabook.vn/function/legal.html"
                                    target="_blank">Privacy Policy /
                                    Term of use</a></li>
                        </ul>
                        <p style=" font-size: 12px;
                    line-height: 1.7em;">Dai Minh is looking forward to serving you soon,</p>
                        <p style=" font-size: 12px;
                    line-height: 1.7em;">Wish you a pleasant journey,</p>
                        <p style=" font-size: 12px;
                    line-height: 1.7em;">Best Regards,</p>
                        <p style=" font-size: 12px;
                    line-height: 1.7em;">Reservation Department</p>
                        <p style=" font-size: 12px;
                    line-height: 1.7em;">Dai Minh Travel </p>
                    </div>
                </div>
            </div>
            <div style="margin: 40px 30px; 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;text-align:center">
                <span style=" font-size: 12px;
            line-height: 1.7em;"><a href="tel:19001542" style="color: #50C0C0;
                font-size: 1rem;
                font-weight: bold;
                text-decoration: none;
                padding: 10px; border-right:1px solid #50C0C0"><i class="fas fa-headset"></i></i> 19001542</a> </span> <span style=" font-size: 12px;
                    line-height: 1.7em;"><a style="color: #50C0C0;
                font-size: 1rem;
                font-weight: bold;
                text-decoration: none;
                padding: 10px;" href="mailto:nhungbt@daiminhtravel.com"><i class="far fa-envelope"></i>
                        nhungbt@daiminhtravel.com</a></span>
            </div>
        </div>
    </div>
</body>

</html>