/* =================
  OVERIDE
=======================*/
.form-control:focus {
  border:1px solid #007bff !important;
  outline: 0;
  -webkit-box-shadow:  none !important;
  box-shadow: none !important;
}
body{
  /* font-size: 0.7rem !important; */
  color:#374B66 !important;
}
input::-webkit-input-placeholder,input::-moz-placeholder,input:-ms-input-placeholder,input:-moz-placeholder { /* Firefox 18- */
  font-size: 0.5rem !important;
}
input:focus,input:active{
  border:none!important;
  outline: none !important;
}
a:hover,a,a:active,a:visited,a:focus{
  color: #374B66 !important;
  text-decoration: none !important;
}
ol.carousel-indicators {
  position: absolute;
  bottom: 5px;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: 1rem;
  height: 1rem;
  margin: 0;
  border-radius: 50%;
  border: 0;
  background: transparent;
}

ol.carousel-indicators li {
  background: rgba(255,255,255,0.39);
  margin-left: .5rem;
  margin-right: .5rem;
}

ol.carousel-indicators li.active {
  background: #FFF;
}
/* ======================
    GENERAL
=========================*/
.shadow-box{
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px !important;
}
.border-radius-5{
  border-radius: 5px !important;
  overflow: hidden;
}
.border-radius-10{
  border-radius: 10px !important;
  overflow: hidden;
}
.border-left-radius-10{
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  overflow: hidden;
}
.border-right-radius-10{
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  overflow: hidden;
}
.border-radius-100{
  border-radius: 100px !important;
  overflow: hidden;
}
.border-left-radius-100{
  border-top-left-radius: 100px !important;
  border-bottom-left-radius: 100px !important;
  overflow: hidden;
}
.border-right-radius-100{
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
  overflow: hidden;
}
.border-radius-none{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-radius: none !important;
}
.text-md{
  font-size: 1rem !important;
}
.text-smd{
  font-size: 0.9rem !important;
}
.text-sm{
  font-size: 0.8rem !important;
}
.text-xs{
  font-size: 0.5rem !important;
}
.text-lg{
  font-size: 1.2rem !important;
}
.text-sl{
  font-size: 2rem !important;
}
.text-ssl{
  font-size: 4rem !important;
}
.scroll-ngang {
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
.scroll-ngang::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.z-index-10000{
  z-index: 10000 !important;
}
.z-index-10001{
  z-index: 10001 !important;
}
.z-index-10002{
  z-index: 10001 !important;
}
.hidden-outof-text{
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.center-page{
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.success-opac-50{
  background-color: #E6F4EA;
}
/* ======================
    GENERAL
=========================*/
.bg-cus-primary{
    background-image: linear-gradient(to bottom, #004d7a, #006b96, #00899e, #00a691, #00bf72) !important;
    color: #FFFFFF !important;
    border:none;
}
.btn-round-50{
    border-radius: 50px !important;
}
.bg-main{
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.close-btn {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
}
.close-btn svg {
  font-size: 1rem;
}
.margin-top-130{
  margin-top: 130px !important;
 }
/* ======================
    GENERAL
=========================*/
.main-logo {
  height: 50px;
  color: #ffffff;
}
.bottom-page{
  margin-bottom: 100px !important;
}

/* CITY DESTINAITON */
.top-city-destination .card-img-top {
  height: 80px !important;
  width: 80px !important;
}
.default-bg {
  background-image: url("/img/hotel/roomtype/default.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}