/* =================
  OVERIDE
=======================*/
.form-control:focus {
  border:1px solid #007bff !important;
  outline: 0;
  -webkit-box-shadow:  none !important;
  box-shadow: none !important;
}
body{
  /* font-size: 0.7rem !important; */
  color:#374B66 !important;
}
input::-webkit-input-placeholder,input::-moz-placeholder,input:-ms-input-placeholder,input:-moz-placeholder { /* Firefox 18- */
  font-size: 0.5rem !important;
}
input:focus,input:active{
  border:none!important;
  outline: none !important;
}
a:hover,a,a:active,a:visited,a:focus{
  color: #374B66 ;
}
/* ======================
    GENERAL
=========================*/
.shadow-box{
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px !important;
}
.border-radius-5{
  border-radius: 5px !important;
  overflow: hidden;
}
.border-radius-10{
  border-radius: 10px !important;
  overflow: hidden;
}
.border-radius-100{
  border-radius: 100px !important;
  overflow: hidden;
}
.border-left-radius-100{
  border-top-left-radius: 100px !important;
  border-bottom-left-radius: 100px !important;
  overflow: hidden;
}
.border-right-radius-100{
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
  overflow: hidden;
}
.border-radius-none{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-radius: none !important;
}
.text-md{
  font-size: 1rem;
}
.text-smd{
  font-size: 0.9rem;
}
.text-sm{
  font-size: 0.8rem;
}
.text-lg{
  font-size: 1.2rem;
}
.scroll-ngang {
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
.scroll-ngang::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.z-index-10000{
  z-index: 10000 !important;
}
.z-index-10001{
  z-index: 10001 !important;
}
/* ======================
    GENERAL
=========================*/
.bg-cus-primary{
    background-image: linear-gradient(to bottom, #004d7a, #006b96, #00899e, #00a691, #00bf72) !important;
    color: #FFFFFF !important;
    border:none;
}
.btn-round-50{
    border-radius: 50px !important;
}
.bg-main{
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.close-btn {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
}
.close-btn svg {
  font-size: 1rem;
}
/* ======================
    GENERAL
=========================*/
.main-logo {
  height: 50px;
  color: #ffffff;
}
.bottom-page{
  margin-bottom: 100px !important;
}